@using MazajGulf.DataAccessLayer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MazajGulfEntities dbContext = new MazajGulfEntities();
    var homeCarousel = dbContext.HomeCarousels.Select(x => x);
    var watchTonight = dbContext.WatchTonights.Select(x => x).Take(8);
    var latestVideo = dbContext.LatestVideos.Select(x => x);
}

<div class="container_12">
    <div class="row">
        <div class="grid_9 prefix_3">
            <div class="title-1">Your favourite movies and shows:</div>
        </div>
        <div class="clearfix">
            <div class="grid_3">
                <ul class="list-3 clearfix">
                    <li><a href="#"><span class="icon-1"></span><span>Shows</span></a></li>
                    <li><a href="#"><span class="icon-2"></span><span>news</span></a></li>
                    <li><a href="#"><span class="icon-3"></span><span>movies</span></a></li>
                    <li><a href="#"><span class="icon-4"></span><span>music</span></a></li>
                    <li><a href="#"><span class="icon-5"></span><span>for children</span></a></li>
                    <li><a href="#"><span class="icon-6"></span><span>weather</span></a></li>
                    <li><a href="#"><span class="icon-7"></span><span>sports</span></a></li>
                    <li><a href="#"><span class="icon-8"></span><span>LIFESTYLE</span></a></li>
                </ul>
            </div>
            <div class="grid_9">
                <div class="slider">
                    <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                        @foreach (var item in homeCarousel)
                        {
                            <div data-src="@item.ShowImageUrl">
                                <div class="camera_caption fadeIn">
                                    <div class="slider-text">
                                        <div class="s-test-1"><span class="color-1">@item.ShowHeading</span></div>
                                        <div><a href="" class="h-underline s-text-2">@item.ShowDesc </a></div>
                                    </div>
                                    <div class="time">@item.ShowTiming</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="bg-1">
        <div class="container_12">
            <div class="row">
                    <div class="grid_3">
                    <h2>Watch tonight: </h2>
                    <div class="list_carousel responsive">
                        <ul id="foo" class="clearfix">
                            <li>
                                @foreach (var item in watchTonight.Take(4))
                                {
                                    <a href="#" class="clearfix">
                                        <span class="time-2">@item.ShowTiming</span>
                                        <div><span>@item.ShowTitle</span></div>
                                    </a>
                                }
                            </li>
                            <li>
                                @foreach (var item in watchTonight.OrderBy(x=>x.Id).Skip(4).Take(4))
                                {
                                    <a href="#" class="clearfix">
                                        <span class="time-2">@item.ShowTiming</span>
                                        <div><span>@item.ShowTitle</span></div>
                                    </a>
                                }
                            </li>
                        </ul>
                        <div class="arrows clearfix">
                            <a id="prev1" class="prev" href="#"></a><a id="next1" class="next" href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="grid_9">
                    <h2>Latest videos:</h2>
                    <div class="list_carousel responsive grid_inside">
                        <ul id="foo1" class="clearfix">
                            <li>
                                @foreach (var item in latestVideo.Take(2))
                                {
                                    <div class="box-1 clearfix">
                                        <a class="various iframe" href="@item.VideoUrl">
                                        <img src="@item.ThumbnailImage" alt=""></a>
                                        <div>
                                            <a>@item.VideoDescription</a>
                                            <div class="color-2">@item.ReleaseData</div>
                                        </div>
                                    </div>
                                }
                            </li>
                            <li>
                                @foreach (var item in latestVideo.OrderBy(x=>x.Id).Skip(2).Take(2))
                                {
                                    <div class="box-1 clearfix">
                                        <a class="various iframe" href="@item.VideoUrl">
                                            <img src="@item.ThumbnailImage" alt="">
                                        </a>
                                        <div>
                                            <a>@item.VideoDescription</a>
                                            <div class="color-2">@item.ReleaseData</div>
                                        </div>
                                    </div>
                                }
                            </li>
                            <li>
                                @foreach (var item in latestVideo.OrderBy(x => x.Id).Skip(4).Take(2))
                                {
                                    <div class="box-1 clearfix">
                                        <a class="various iframe" href="@item.VideoUrl">
                                            <img src="@item.ThumbnailImage" alt="">
                                        </a>
                                        <div>
                                            <a>@item.VideoDescription</a>
                                            <div class="color-2">@item.ReleaseData</div>
                                        </div>
                                    </div>
                                }
                            </li>
                            <li>
                                @foreach (var item in latestVideo.OrderBy(x => x.Id).Skip(6).Take(2))
                                {
                                    <div class="box-1 clearfix">
                                        <a class="various iframe" href="@item.VideoUrl">
                                            <img src="@item.ThumbnailImage" alt="">
                                        </a>
                                        <div>
                                            <a>@item.VideoDescription</a>
                                            <div class="color-2">@item.ReleaseData</div>
                                        </div>
                                    </div>
                                }
                            </li>
                        </ul>
                        <div class="arrows clearfix">
                            <a id="prev2" class="prev" href="#"></a><a id="next2" class="next" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
